@import 'variables';

mat-toolbar {
    background: white; /*
    position: absolute;
    top: 0;*/
    z-index: 1000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    a {
        text-decoration: none;
        font-size: 15px;
        line-height: 22px;
        font-weight: 700;
        padding: 0 17px;
        font-family: 'Monsterrat', sans-serif;
        color: $secondary;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
        &.social {
            font-size: 18px;
        }
        transition: color 0.2s ease-out;
    }
    .active {
        color: $primary;
    }

    .logo {
        width: 64px;
        vertical-align: middle;
    }
}

.mobile {
    height: 64px !important;
}
